# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines and a newline ending every file
[*]
end_of_line = lf
insert_final_newline = false
charset = utf-8
trim_trailing_whitespace = false
indent_style = space
indent_size = 2




# Markdown files (READMEs, etc.) allow trailing whitespace
[*.md]
# trim_trailing_whitespace = false

# YAML configuration files use 2 spaces for indentation

